@{
    ViewData["Title"] = "Home Page";
    ViewData["login"] = "Login";
}


<div class="text-center">
    <br><br><br>
    <p>Bem-Vindo ao site da nossa Clínica.</p>
    <p>Se ainda não se registou, regista-se agora mesmo e comece já a usufruir dos nossos serviços a partir de hoje!</p>
</div>

