@{
    ViewData["Title"] = "Create";
}

<form id="regForm" method="post" asp-action="Create">
    <input type="hidden" id="id_utilizador_utente" name="id_utilizador_utente" value="1" />
    <input type="hidden" id="id_tratamento" name="id_tratamento" value="1" />
    <input type="hidden" id="id_protocolo" name="id_protocolo" value="12" />
    <input type="hidden" id="id_gabinete" name="id_gabinete" value="6" />
    <input type="hidden" id="preco" name="preco" value="28.59" />
    <input type="hidden" id="urgente" name="urgente" value="0" />
    <input type="hidden" id="domicilio" name="domicilio" value="1" />
  
    <h1>Marcar Consulta</h1>
    <!-- One "tab" for each step in the form: -->

    <div class="tab">
        Escolha a Clinica:
        <div class="col-md-12">
            <div class="row">
                <div class=" col-md-4 card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Hospital de Barcelos</h4>
                        </div>
                        <div class="card-body">
                            <img src="~/img/hs_0.jpg" width="100px" />
                            <ul class="list-unstyled mt-3 mb-4">
                            </ul>
                            <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Marcar</button> -->
                        </div><input style="margin-bottom:50px;" type="radio" id="id_clinica" name="id_clinica" value="1" />
                    </div>
                </div>
                <div class="col-md-4 card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Hospital de Famalicao</h4>
                        </div>
                        <div class="card-body">
                            <img src="~/img/hs_1.jpg" width="100px" />
                            <ul class="list-unstyled mt-3 mb-4">
                            </ul>
                            <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Marcar</button> -->
                        </div><input style="margin-bottom:50px;" type="radio" id="id_clinica" name="id_clinica" value="2" />
                    </div>
                </div>
                <div class="col-md-4 card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Hospital da Trofa</h4>
                        </div>
                        <div class="card-body">
                            <img src="~/img/hs_2.jpg" width="100px" />
                            <ul class="list-unstyled mt-3 mb-4">
                            </ul>
                            <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary">Marcar</button> -->
                        </div><input style="margin-bottom:50px;" type="radio" id="id_clinica" name="id_clinica" value="3" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab">
        Especialidade:
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">

                        <select id="id_especialidade_consulta" name="id_especialidade_consulta">
                            <option selected value="0">Escolha uma opção:</option>
                            <option value="1">Fisioterapia</option>
                            <option value="2">Odontologia</option>
                        </select>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab">
        Professional de Saúde:
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4 card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Dr. Alberto Simoes</h4>
                        </div>
                        <div class="card-body">
                            <img src="~/img/dr.png" width="80px" />
                            <ul class="list-unstyled mt-3 mb-4">
                                Especialidades:
                                <li>- Fisioterapia</li>
                                <li>- Dentista</li>
                            </ul>
                            <input type="radio" id="id_utilizador_profissional_saude" name="id_utilizador_profissional_saude" value="1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Dr. Duarte Fernandes</h4>
                        </div>
                        <div class="card-body">
                            <img src="~/img/dr.png" width="80px" />
                            <ul class="list-unstyled mt-3 mb-4">
                                Especialidades:
                                <li>- Fisioterapia</li>
                                <li>- Dentista</li>

                            </ul>
                            <input type="radio" id="id_utilizador_profissional_saude" name="id_utilizador_profissional_saude" value="2" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Dr. Carlos Silva Japa</h4>
                        </div>
                        <div class="card-body">
                            <img src="~/img/dr.png" width="80px" />
                            <ul class="list-unstyled mt-3 mb-4">
                                Especialidades:
                                <li>- Fisioterapia</li>
                                <li>- Dentista</li>

                            </ul>
                            <input type="radio" id="id_utilizador_profissional_saude" name="id_utilizador_profissional_saude" value="3" />
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="tab">
        time:
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">

                        <input type='date' id="data" name="data" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">

                        <input type='time' name="time" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>
</form>

<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form...
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Marcar Consulta";
        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        //... and run a function that will display the correct step indicator:
        fixStepIndicator(n)
    }

    function nextPrev(n) {
    
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form...

        if (currentTab >= x.length) {
            // ... the form gets submitted:

            document.getElementById("regForm").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "") {
                // add an "invalid" class to the field:
                y[i].className += " invalid";
                // and set the current valid status to false
                valid = false;
            }
        }
        // If the valid status is true, mark the step as finished and valid:
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid; // return the valid status
    }

    function fixStepIndicator(n) {
        // This function removes the "active" class of all steps...
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        //... and adds the "active" class on the current step:
        x[n].className += " active";
    }</script>
